.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1440px;
  padding-top: 360px;
}

.select {
  max-width: 700px;
  margin: 0 auto;
}

.scroll-top-btn {
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: var(--primary);
  border: none;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.scroll-top-btn img {
  width: 40px;
  height: 40px;
}

.scroll-top-btn:hover {
  background: var(--primary-hover);
}

@media (max-width: 700px) {
  .container {
    padding-top: 220px;
  }
}
