:root {
  --primary: #346ad5;
  --primary-hover: #5881d3;
  --bg-color: #f2f1f5;
  --box-shadow: 12px 10px 37px -7px rgba(212, 214, 222, 1);
}

body {
  margin: 0;
  background: var(--bg-color);
  font-family: "Didot", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
